.todo {
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px #555;
  display: flex;
}

.todo:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.todo:not(:last-child) {
  margin: 0 0 8px 0;
}

.todo_completed {
  background-color: rgba(0, 0, 0, 0.4);
}

.todo_completed:hover {
  background-color: rgba(0, 0, 0, 0.3)
}

.todo_completed .todo__value {
  text-decoration: line-through;
}

.todo__value {
  flex: 1 1 0;
}

.todo__btn {
  background-color: transparent;
  border: none;
  border-radius: 6px;
  box-shadow: 0 0 5px #555;
  width: 20px;
  aspect-ratio: 1;
  cursor: pointer;
}

.todo__btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.todo__btn:not(:last-child) {
  margin: 0 5px 0 0;
}

.todo__btn_confirm {
  background: url("https://cdn-icons-png.flaticon.com/512/2732/2732655.png") 3px 3px no-repeat;
  background-size: 15px;
}

.todo__btn_delete {
  background: url("https://cdn-icons-png.flaticon.com/512/2997/2997911.png") 6px 6px no-repeat;
  background-size: 9px;
}